option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "carpcrowdid987654321"
    MASTER_KEY: "carpcrowdkey123456789"
    DATABASE_URI: "mongodb://heroku_876509ln:59isl2ej28m0nlk0vlu6ets38h@ds019996.mlab.com:19996/heroku_876509ln"
    NODE_ENV: "production"
    SERVER_URL: "http://carpcrowd.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
